[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url = http://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = http://github.com/sontek/minibufexpl.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = http://github.com/fs111/pydoc.vim.git
[submodule "bundle/py.test"]
	path = bundle/py.test
	url = http://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url = http://github.com/reinh/vim-makegreen
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = http://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = http://github.com/sontek/rope-vim.git
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/pyflakes-pathogen"]
	path = bundle/pyflakes-pathogen
	url = git://github.com/mitechie/pyflakes-pathogen.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = http://github.com/bingaman/vim-sparkup.git
[submodule "bundle/vim-ipython"]
	path = bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
